<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Panth\Core\ViewModel\ThemeConfig">
        <arguments>
            <argument name="registeredModules" xsi:type="array">
                <item name="Panth_OrderAttachments" xsi:type="string">Panth_OrderAttachments</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin name="panth_order_attachments_link_after_add_to_cart"
                type="Panth\OrderAttachments\Plugin\Cart\LinkAttachmentsAfterAddToCart"
                sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Controller\Cart\UpdateItemOptions">
        <plugin name="panth_order_attachments_update_on_cart_update"
                type="Panth\OrderAttachments\Plugin\Cart\UpdateAttachmentsOnCartUpdate"
                sortOrder="10"/>
    </type>
</config>
